###> slabprea/ignore_files ###
.idea/
.phpspec.yml

###> slabprea/docker ###
/docker/datas/*

###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###
node_modules

### generated component css
/templates/components/**/*.css

### generated container css
/templates/container/**/*.css

### generated view css
/templates/views/**/*.css