{% extends '@Slab/Core/layout.html.twig' %}
{% block body %}
    <div class="container">
        {% if errors %}
            <div>{{ errors.messageKey|trans(errors.messageData, 'security') }}</div>
        {% endif %}
        <div class="row">
            <div class="col-xs-12">
                <h1>Login!</h1>
                {{ form_start(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}