@import '../../../styles/core.scss';

.banner {

  width: 100%;
  height: 40px;

  &.development {
    background-color: $c-black;
  }

  &.test {
    background-color: $c-white;
  }

  h4 {
    text-align: center;
    color: white;
    padding: 5px;
    font-size: 1.2em;
  }
}